<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base-page}">
<head>

</head>
<body>
    <section layout:fragment="content">

        <div class="t-client-list">
            <div class="page-header">
                <div class="page-header-title">
                    <h1 th:text="#{page.adminclients.title}">Clients</h1>
                </div>
                <div class="page-header-action is-right">
                    <form th:action="@{/admin/clients}" method="post">
                        <button type="submit" class="btn btn-default" name="action" value="create">
                            [[#{action.create}]]
                        </button>
                    </form>
                </div>
            </div>

            <div class="panel">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th class="is-secondary">Public ID</th>
                            <th></th>
                        </tr>

                        </thead>
                        <tbody>
                            <tr th:each="c : ${pageList.elements}">
                                <td><span th:text="${c.name}"></span></td>
                                <td class="is-secondary"><span th:text="${c.publicId}"></span></td>
                                <td class="is-right">
                                    <form action="@{/admin/clients/{clientId}(clientId=${c.id})}" method="post">
                                        <a th:href="@{/admin/clients/{clientId}(clientId=${c.id})}" class="btn">Edit</a>
                                        <button type="submit" class="btn">Delete</button>
                                        <input type="hidden" name="action" value="delete" />
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div th:replace="~{go-to-top :: go-to-top}"></div>
    </section>
</body>
</html>
