<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{basepage}">
<head>

</head>
<body>
    <section layout:fragment="content">

        <div class="normal-content admin-client">
                    
            <form action="/admin/clients/1" class="frm" 
                  th:object="${client}"
                  th:action="@{/admin/clients/} + ${client.id}" 
                  th:method="post">
                  
                <div class="page">
                    <div class="page-title">
                        <div class="grid">
                            <div class="row">
                                <div class="col-10">
                                    <h1 th:text="#{page.adminclients.title}">Clients</h1>                            
                                </div>
                                
                                <div class="col-2 right">
                                    <a th:href="@{/admin/clients/}" class="btn btnblue btnag">
                                        [[#{action.save}]]
                                    </a>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <div class="page-content">
                        
                        <div class="box">
                        
                            <div class="heading">
                                <h4>General Information</h4>
                            </div>
                            <div class="body">
                                      
                                <div class="form-group">
                                    <label for="client-publicid" th:text="#{page.adminclients.form.label.publicid}"></label> 
                                    <input type="text" id="client-publicid" th:field="*{publicId}" class="form-input" required="required" />
                                </div>              
                            
                                <div class="form-group">
                                    <label for="client-secret" th:text="#{page.adminclients.form.label.secret}"></label> 
                                    <input type="text" id="client-secret" th:field="*{secret}" required="required" />                                
                                </div>

                                <div class="form-group">
                                    <label for="client-name" th:text="#{page.adminclients.form.label.name}"></label> 
                                    <input type="text" id="client-name" th:field="*{name}" class="form-input" required="required" />
                                </div>

                                <div class="form-group">
                                    <label for="client-description" th:text="#{page.adminclients.form.label.description}"></label> 
                                    <textarea id="client-description" rows="3" th:field="*{description}"></textarea>                                
                                </div>              
                                
                                <div class="form-group">
                                    <label for="client-logourl" th:text="#{page.adminclients.form.label.logourl}"></label> 
                                    <input type="text" id="client-logourl" th:field="*{logoUrl}" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="box">
                            <div class="heading">
                                <h4>Token Type and Lifetime</h4>
                            </div>
                            <div class="body">    
                                <div class="form-group">
                                    <label for="client-provtype" th:text="#{page.adminclients.form.label.provtype}"></label> 
                                    <select id="client-provtype" th:field="*{providerType}">
                                        <option th:each="p : ${T(ca.n4dev.aegaeon.api.token.TokenProviderType).values()}"
                                                th:value="${p.toString()}" th:text="${p.toString()}" 
                                                th:selected="${client.providerType} == ${p.toString()}"/>
                                    </select>
                                </div>
                            
                                <div class="form-group">
                                    <label for="client-idtok-sec" th:text="#{page.adminclients.form.label.idtoksec}"></label> 
                                    <input type="text" id="client-idtok-sec" th:field="*{idTokenSeconds}" required="required" />
                                </div>
                            
                                <div class="form-group">
                                    <label for="client-actok-sec" th:text="#{page.adminclients.form.label.accesstoksec}"></label> 
                                    <input type="text" id="client-actok-sec" th:field="*{accessTokenSeconds}" required="required" />
                                </div>
                                
                                <div class="form-group">
                                    <label for="client-reftok-sec" th:text="#{page.adminclients.form.label.refreshtoksec}"></label> 
                                    <input type="text" id="client-reftok-sec" th:field="*{refreshTokenSeconds}" required="required" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="box">
                            <div class="heading">
                                <h4>Client URLs and Authorizations</h4>
                            </div>
                            <div class="body">    
                                
                                <div class="form-section-heading">
                                    <div class="form-section-heading-element">
                                        <label for="client-redirections" th:text="#{page.adminclients.form.label.redirections}"></label> 
                                    </div>
                                    <div class="form-section-heading-element right">
                                        
                                        <button class="btn btnblue btnag" name="action" type="submit" 
                                                th:value="${T(ca.n4dev.aegaeon.server.view.ClientDtoAction).action_add_redirect_url}">
                                            +
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group" th:each="r,ridx : *{redirections}">
                                        <div class="input-group-element">
                                            <input type="text" 
                                                   th:field="*{redirections[__${ridx.index}__]}" />
                                        </div>
                                        <div class="input-group-element btnop">
                                            <button class="btn btnag" name="action" type="submit" 
                                                    th:value="${T(ca.n4dev.aegaeon.server.view.ClientDtoAction).action_remove_redirect_url} + '.' + ${ridx.index}">
                                                X
                                            </button>
                                        </div>
                                    </div>
                                    <p th:if="${#lists.isEmpty(client.redirections)}">
                                    None
                                    </p>
                                </div>
                                
                                <div class="form-section-heading">
                                    <div class="form-section-heading-element">
                                        <label for="client-contacts" th:text="#{page.adminclients.form.label.contacts}"></label>
                                    </div>
                                    <div class="form-section-heading-element right">
                                        
                                        <button class="btn btnblue btnag" name="action" type="submit" th:value="${T(ca.n4dev.aegaeon.server.view.ClientDtoAction).action_add_contact}">
                                            +
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                     
                                    
                                    <div class="input-group" th:each="c,cidx : *{contacts}">
                                        <div class="input-group-element">
                                            <input type="text" 
                                                   th:field="*{contacts[__${cidx.index}__]}" />
                                        </div>
                                        <div class="input-group-element btnop">
                                            <button class="btn btnag" name="action" type="submit" th:value="'remove_' + ${cidx.index}">
                                                X
                                            </button>
                                        </div>
                                    
                                    </div>
                                    
                                    <p th:if="${#lists.isEmpty(client.contacts)}">
                                    None
                                    </p>
                                </div>
                                             
                                <div class="form-group">
                                    <label for="" th:text="#{page.adminclients.form.label.scopes}"></label>
                                    <div th:each="s,sidx : *{scopes}" class="input-group">
                                        <div class="input-group-element input-group-element-check">                                        
                                            <input type="hidden"
                                                   th:field="*{scopes[__${sidx.index}__].id}" />
                                            <input type="hidden"
                                                   th:field="*{scopes[__${sidx.index}__].name}" />
                                            <input type="checkbox"
                                                   th:selected="${s.selected}"
                                                   th:field="*{scopes[__${sidx.index}__].selected}" />
                                        </div>
                                        <div class="input-group-element">
                                            <span th:text="${s.name}"></span>       
                                        </div>
                                        
                                    </div>
                                </div>                   
                                
                                <div class="form-group">
                                    <label for="" th:text="#{page.adminclients.form.label.grants}"></label>
                                    <div th:each="g,gidx : *{grants}">
                                        <div class="input-group-element input-group-element-check">
                                            <input type="hidden"
                                                   th:field="*{grants[__${gidx.index}__].id}" />
                                            <input type="hidden"
                                                   th:field="*{grants[__${gidx.index}__].name}" />
                                            <input type="checkbox"
                                                   th:selected="${g.selected}"
                                                   th:field="*{grants[__${gidx.index}__].selected}" />
                                        </div>
                                        <div class="input-group-element">
                                            <span th:text="${g.name}"></span>
                                        </div>
                                    </div>
                                </div>
                                
                                <input type="hidden" th:field="*{id}" />
    
                            </div>
                        </div>
                                            
                    </div>
                    <div class="footer right">
                        
                    </div>
                </div>
            </form>
            
        </div>
    </section>
</body>
</html>
