html, body, * {
	box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #000;
}

body {
	/*background-color: #444;*/
	margin:0;
}

a, span, p, input, button {
    font-size: 14px;
}

h1, h2, h3, h4, h5 {
	margin: 3px 0;
}

.main-content {
   padding: 10px;
}

.login-form {
	
}

.site-header {
	background-color: #313131;
	padding: 10px 5px;
}

.site-header > .site-header-brand > h1 {
	font-size: 1.1em;
	margin: 0;
	color: #b73535;
    font-weight: bold;
    text-transform: uppercase;
}

.row {
	box-sizing:border-box
}


/* Page Styles */
.home-content {
    padding-top: 50px;
    text-align: center;
}

.home-content > img {
    
}

.home-content > a {
    display: block;
    text-decoration: none;
}

@media (min-width: 800px) {
	
    .main-content {
	    margin: 0 auto;
	    width: 1024px;
	}
		
	.login-form {
	    margin-top: 100px;
	}
	
	.user-profile  {
	
    }
}

/* Components */

.right {text-align: right;}
.center {text-align: center;}

.btn.btn-warning {
    background-color: #f40000;
    color: #fff;
    border: 1px solid #b70000;
}

.btn.btn-warning:hover {
    background-color: #cd001d;
}

.btn.btn-ok {
    background-color: #7bcc79;
    border:1px solid #70ba6e;	
    color: #fff;
}


.btn.btn-ok:hover {
    background-color: #6ab068;
}


.link {
	text-decoration: none;
	font-weight: 400;
	color: #337ab7;
}

.link:hover {
    text-decoration: underline;
}

.form-section {
    margin: 5px 0;
    border: 1px solid #ccc;
    background-color: #fdfdfd;
    padding: 0 5px;
}

.form-section-heading {
	display: table;
	width: 100%;
}

.form-section-heading > .form-section-heading-element {
    display: table-cell;
}

.form-group {
	margin: 3px 0;	
}

.form-group > label {
	display: block;
}

.form-input {
	display: block;
	width: 100%;
	margin: 5px 0;
	padding: 5px;
	border-radius: 0;
	border: 1px solid #ccc;
}

.form-input:focus {
	border: 1px solid #777;
	box-shadow: 1px 1px 1px #b5cede;
}

.form-section-heading > .form-section-heading-element .inline-input {
	display: inline;
	margin: 0;
	width: 150px;
	background-color: #fff;
}

.btn.btnag {
	padding: 5px 10px;
}

.page > .page-title {
    margin-bottom: 10px;
    padding: 3px 10px; 
}

.page > .page-title h1 {
	font-size: 2em;
    color: #444;
}

.page > .page-content {
    padding: 3px 10px;
}

