<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{basepage}">
<head>

</head>
<body>
<section layout:fragment="content">
    <div class="normal-content page-user-password">

        <th:block th:unless="${completed}">
            <form th:action="@{/user/password}" th:object="${dto}" method="post">
                <div class="box">
                    <div class="heading">
                        <h1 th:text="#{page.chgpasswd.title}">Update your password</h1>
                    </div>
                    <div class="body">
                        <div class="form-group">
                            <label for="user-old-passwd" th:text="#{page.chgpasswd.oldpasswd}"></label>
                            <input type="password" id="user-old-passwd" class="form-input"
                                   maxlength="64" required="required"
                                   th:field="*{oldPassword}"
                                   th:errorclass="input-error"
                                   th:placeholder="#{page.chgpasswd.placeholder.oldpasswd}"/>
                            <p th:each="err : ${#fields.errors('oldPassword')}" class="error-text show-error" th:text="${err}"></p>
                        </div>

                        <div class="form-group">
                            <label for="user-new-passwd" th:text="#{page.chgpasswd.newpasswd}"></label>
                            <input type="password" id="user-new-passwd" class="form-input"
                                   maxlength="64" required="required"
                                   th:placeholder="#{page.chgpasswd.placeholder.newpasswd}"
                                   th:field="*{newPassword}"
                                   th:errorclass="input-error" />
                            <p th:each="err : ${#fields.errors('newPassword')}" class="error-text show-error" th:text="${err}"></p>
                        </div>

                        <div class="form-group">
                            <label for="user-new-passwd-confirm" th:text="#{page.chgpasswd.newpasswdconfirm}"></label>
                            <input type="password" id="user-new-passwd-confirm" class="form-input"
                                   maxlength="64" required="required"
                                   th:placeholder="#{page.chgpasswd.placeholder.newpasswdconfirm}"
                                   th:field="*{newPasswordConfirm}"
                                   th:errorclass="input-error" />
                            <p th:each="err : ${#fields.errors('newPasswordConfirm')}" class="error-text show-error" th:text="${err}"></p>
                        </div>
                    </div>
                    <div class="footer right">
                        <input type="submit" class="btn btn-ok" name="submit" value="save" th:value="#{action.save}" />
                    </div>
                </div>
            </form>

        </th:block>

        <th:block th:if="${completed}">
            <div class="box">
                <div class="body">
                    <p th:text="#{page.chgpasswd.completed}"></p>
                </div>
            </div>
        </th:block>

    </div>
</section>
</body>
</html>