<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{basepage}">
<head>

</head>
<body>
    <section layout:fragment="content">
        <div class="normal-content page-authorize">
            <form th:action="@{/authorize/accept}" 
                  method="POST" 
                  class="login-form">
                <div class="box">
                    <div class="heading">
                        <h2 th:text="#{page.authorize.title}">Authorize</h2>
                    </div>
                    <div class="body">
                        <p th:text="#{page.authorize.help(${client_id})}"></p>
                        
                        <input type="hidden" name="client_id" th:value="${client_id}" />
                        <input type="hidden" name="redirection_url" th:value="${redirection_url}" />
                        <input type="hidden" name="state" th:value="${state}" />
                        <input type="hidden" name="scope" th:value="${scopes}" />
                        <input type="hidden" name="response_type" th:value="${response_type}" />
                        <input type="hidden" name="prompt" th:value="${prompt}" />
                        <input type="hidden" name="display" th:value="${display}" />
                        
                        
                    </div>
                    <div class="footer center">
                        <a href="/" class="btn btn-danger" th:href="@{/}" th:text="#{action.deny}"></a>
                        <input type="submit" class="btn btn-ok" th:value="#{action.accept}" name="submit">
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>
