<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
<head>
    <title>Aegaeon - Server</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../static/css/aegaeon.css" th:href="@{/resources/css/aegaeon.css}" rel="stylesheet" />
    <!-- 
    <link href="../../css/bootstrap/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../../css/origin.css" th:href="@{/resources/css/origin.css}" rel="stylesheet" />
    <script src="../../js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
     -->
</head>
<body>

    <header class="site-header">
    
        <div class="site-header-brand">

        </div>
        
        <div class="site-header-nav">

        </div>
        
    </header>
    
    <section layout:fragment="content" class="main-content">

    </section>
    
    <footer layout:fragment="footer">

    </footer>
</body>
</html>