<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
<head>
    <title>Aegaeon - Server</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../static/css/aegaeon-default.css" th:href="@{/resources/css/aegaeon-default.css}" rel="stylesheet" />
    <th:block th:if="${serverInfo}">
	    <meta name="privacy policy" th:attr="content=${serverInfo.legalEntity}" />
    	<link th:if="${serverInfo.customStyleSheet}" th:href="@{${serverInfo.customStyleSheet}}" rel="stylesheet" />
    </th:block>
</head>
<body>

    <header layout:fragment="header" class="site-header" id="ag-site-header">

        <div class="site-header-content">
            <div class="site-header-brand" layout:fragment="header-brand">
                <a href="/" th:href="@{/}">
                    <h1 th:text="${serverInfo.serverName}"></h1>
                </a>
            </div>

            <div class="site-header-nav"  layout:fragment="header-nav">
                <div id="ag-user-menu" class="user-menu">

                    <th:block sec:authorize="!hasRole('ROLE_USER')">
                        <form action="/create-account" th:action="@{/create-account}" method="post" class="frm">
                            <button type="submit" class="btn-link">
                                <span>Create Account</span>
                            </button>
                        </form>
                    </th:block>

                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="/admin/clients" th:href="@{/admin/clients}" class="link">Clients</a>
                    </th:block>

                    <th:block sec:authorize="hasRole('ROLE_USER')">
                        <a href="/user-account" th:href="@{/user}" class="link">My Account</a>
                        <form action="/logout" th:action="@{/logout}" method="post">
                            <button type="submit" class="btn-link" th:text="#{action.logout}">Logout</button>
                        </form>
                    </th:block>

                </div>
            </div>
        </div>

    </header>
    
    <section layout:fragment="content" id="ag-main-content" class="main-content">

    </section>
    
    <footer layout:fragment="footer" id="ag-footer">

    </footer>
</body>
</html>