<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{basepage}">
<head>

</head>
<body>
    <section layout:fragment="content">
        <div class="normal-content page-error">
            <div class="box">
                <div class="heading">
                    <h1 th:text="#{page.error.panel.title}"></h1>
                </div>
                <div class="body">

                    <!--
                    date
                    severity
                    errorType
                    errorMessage
                    descriptionCode | description
                    serverInfo
                    -->

                    <div class="error-message">
                        <div class="error-logo">

                            <!-- Logo by severity -->
                            <span th:text="${severity}"></span>

                        </div>
                        <div class="error-details">

                            <p th:text="${date}"></p>
                            <p th:text="${errorType}"></p>
                            <p th:text="${errorMessage}"></p>
                            <p th:text="${#strings.defaultString(description, descriptionCode)}"></p>

                        </div>
                    </div>


                    <!--
                    <th:block th:if="${#strings.equalsIgnoreCase(type, 'OauthRestrictedException')}">
                        <p th:text="#{${'page.error.list.oauth.errortype.' + error.error}}"></p>
                    </th:block>

                    <th:block th:if="${#strings.equalsIgnoreCase(type, 'ServerException')}">
                        <p th:text="#{page.error.list.serverexception}"></p>
                        <p th:text="${errorCode}"></p>
                        <p th:text="${errorMessage}"></p>
                    </th:block>

                    <th:block th:if="${#strings.equalsIgnoreCase(type, 'Throwable')}">
                        <p th:text="#{page.error.list.throwable}"></p>
                    </th:block>
                    -->
                </div>
            </div>
        </div>
    </section>
</body>
</html>
