<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{basepage}">
<head>

</head>
<body>
    <section layout:fragment="content">
        <div class="normal-content page-homepage">


            <div class="box">
                <div class="body">
                    <h1 th:text="#{page.home.welcome}"></h1>
                    <p th:text="#{page.home.welcome.about.1}"></p>
                    <p th:text="#{page.home.welcome.about.2}"></p>
                    <p th:text="#{page.home.welcome.about.3}"></p>

                    <ul>
                        <li><span th:text="#{page.home.welcome.about.4}"></span></li>
                        <li><span th:text="#{page.home.welcome.about.5}"></span></li>
                        <li><span th:text="#{page.home.welcome.about.6}"></span></li>
                    </ul>

                    <div class="center" sec:authorize="!hasRole('ROLE_USER')">
                        <a href="/login" class="btn" th:href="@{login}" th:text="#{action.login}">Login</a>
                        <form action="/create-account" th:action="@{/create-account}" method="post" class="frm">
                            <button type="submit" class="btn">
                                <span>Create Account</span>
                            </button>
                        </form>
                    </div>

                </div>

            </div>

            <!--<img alt="aegaeon" src="/images/n4dev-aegaeon.png" th:src="@{/resources/images/n4dev-aegaeon.png}" />-->

        </div>
    </section>
</body>
</html>
