<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{basepage}">
<head>

</head>
<body>
    <section layout:fragment="content">
        <div class="normal-content user-profile">
        
            <div class="user-profile-info">
                <div class="panel">
                    <div class="panel-heading">
                        <h1 th:text="#{page.useraccount.title}">Account</h1>
                    </div>
                    <div class="panel-body">
                        <h1 th:text="${user.userName}"></h1>
                    </div>
                </div>
            
            </div>
            <div class="user-profile-menu">
                <div class="panel">
                    <div class="panel-body">
                        Menu...
                    </div>
                </div>            
            </div>
            
        </div>
    </section>
</body>
</html>
