<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{basepage}">
<head>

</head>
<body>
    <section layout:fragment="content">
        <div class="normal-content user-profile">
        
            <div class="user-profile-info">
                <h1 th:text="#{page.useraccount.title}">Account</h1>
                <form action="/user-account" th:object="${user}" th:action="@{/user-account}">
                    <label for="user-account-name" th:text="#{page.useraccount.form.label.name}"></label>
                    <input type="text" id="user-account-name" th:field="*{name}" />                
                </form>
             
            </div>
            <div class="user-profile-menu">
                
            </div>
            
        </div>
    </section>
</body>
</html>
