<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
    <div class="form-group" th:fragment="user-info(info, key)">
        
        <!-- "entity.userinfotype." + type.getName(), pLocale)); -->
        <label th:for="'user-' + ${info.code}" th:text="#{${'entity.userinfotype.' + #strings.toLowerCase(info.code)}}"></label>
         
        <input type="text" th:if="${info.otherType}" class="form-input"
               th:name="${key} + '.name'" 
               th:placeholder="#{entity.userinfotype.placeholder.other.desc}" />
        <input type="text" th:id="'user-' + ${info.code}" 
               th:field="*{__${key}__.value}" class="form-input"
               th:placeholder="#{entity.userinfotype.placeholder.value}"  />
        
        <input type="hidden" th:field="*{__${key}__.refId}" />
        <input type="hidden" th:field="*{__${key}__.refTypeId}" />
        <input type="hidden" th:field="*{__${key}__.code}" />
        <input type="hidden" th:field="*{__${key}__.name}" />
        <input type="hidden" th:field="*{__${key}__.category}" />
        
    </div>
</body>
</html>